<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Registro</h2>
    <form id="registerForm">
        <label for="regUsername">Usuário:</label>
        <input type="text" id="regUsername" name="regUsername" required>
        <label for="regPassword">Senha:</label>
        <input type="password" id="regPassword" name="regPassword" required>
        <button type="submit">Registrar</button>
    </form>

    <h2>Login</h2>
    <form id="loginForm">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Entrar</button>
    </form>

    <div id="message"></div>
</div>

<script src="script.js"></script>
</body>
</html>
